<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<div>
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <label for="name">Введите имя</label>
        <input type="text" th:field="*{name}" id="name">
        <br/>
        <label for="age">Введите возраст</label>
        <input type="text" th:field="*{age}" id="age">
        <br/>
        <label for="email">Введите email</label>
        <input type="text" th:field="*{email}" id="email">
        <br/>
        <input type="submit" value="Создать">
    </form>
</div>

</body>
</html>